{% extends "place_base/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block main_area %}
<section class="login py-5 border-top-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8 align-item-center">
        <div class="border">
          <h3 class="bg-gray p-4">로그인</h3>
          {% csrf_token %}
          <form method="post">
            <fieldset class="p-4">
              <input class="form-control mb-3" type="text" placeholder="이메일" required>
              <input class="form-control mb-3" type="password" placeholder="비밀번호" required>
              {% for error in form.non_field_errors %}
        <div class="form-error error-message">{{ error }}</div>
      {% endfor %}
      <div>
        {{ form.login|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:이메일" }}
        {% for error in form.login.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <div>
        {{ form.password|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:비밀번호" }}
        {% for error in form.password.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
              <button type="submit" class="btn btn-primary font-weight-bold mt-3 cp-button">로그인</button>
              <a class="mt-3 d-block text-primary" href="#!">비밀번호 찾기</a>
              <a class="mt-3 d-inline-block text-primary" href="{% url 'users:user-signup' %}">회원가입</a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main_area %}


  <main class="account">
    <form method="post">
      {% csrf_token %}
      {% for error in form.non_field_errors %}
        <div class="form-error error-message">{{ error }}</div>
      {% endfor %}
      <div>
        {{ form.login|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:이메일" }}
        {% for error in form.login.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <div>
        {{ form.password|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:비밀번호" }}
        {% for error in form.password.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <button class="cp-button" type="submit">로그인</button>
    </form>
